(LAN_only) {
    @not_local {
	not remote_ip private_ranges
    }
    respond @not_local 403
}

localhost {
    respond "caddy is working"
}

code-container.localhost {
  	import LAN_only
	reverse_proxy code-service:8000
	log {
        	output file /data/caddy/code_access.log
    	}
}

obsidian.localhost {
	import LAN_only
	reverse_proxy obsidian:3000
  	log {
        	output file /data/caddy/obsidian_access.log
  	}
}
